In [36]:
from pytrends.request import TrendReq

# enter your own credentials
google_username = "nknytest1337@gmail.com"
google_password = "nknynknynkny"
path = ""

# Login to Google. Only need to run this once, the rest of requests will use the same session.
pytrend = TrendReq(google_username, google_password, custom_useragent='My Pytrends Script')

In [37]:
pytrend.build_payload(kw_list=['bitcoin'],timeframe='2012-04-08 2012-04-14')

In [38]:
interest_over_time_df = pytrend.interest_over_time()

In [40]:
print interest_over_time_df

            bitcoin
date
2012-04-08      100
2012-04-09       69
2012-04-10       75
2012-04-11       92
2012-04-12       87
2012-04-13       84
2012-04-14       82

In [155]:
import pandas as pd
weeks = pd.read_csv("/Users/user/Delft/NN/proj/weeklyTimeline.csv")

In [156]:
weeks[0:5]

         Week  bitcoin: (Worldwide)
0  2012-04-08                     3
1  2012-04-15                     2
2  2012-04-22                     3
3  2012-04-29                     2
4  2012-05-06                     3

In [42]:
pytrend.build_payload(kw_list=['bitcoin'],timeframe='2012-04-08 2012-04-14')
interest_over_time_df = pytrend.interest_over_time()
week1 = interest_over_time_df; week1

            bitcoin
date
2012-04-08      100
2012-04-09       69
2012-04-10       75
2012-04-11       92
2012-04-12       87
2012-04-13       84
2012-04-14       82

In [44]:
pytrend.build_payload(kw_list=['bitcoin'],timeframe='2012-04-15 2012-04-21')
interest_over_time_df = pytrend.interest_over_time()
week2 = interest_over_time_df; week2

            bitcoin
date
2012-04-15       66
2012-04-16       60
2012-04-17       75
2012-04-18      100
2012-04-19       78
2012-04-20       62
2012-04-21       67

In [145]:
df1 = pd.concat([week1, week2]); #twoweeks
index = df1.index.values
df2 = pd.DataFrame({"Weekly": [int(weeks[0:1]["bitcoin: (Worldwide)"])]+[""]*6+[int(weeks[1:2]["bitcoin: (Worldwide)"])]+[""]*6}, index=index)
combo = pd.concat([df1, df2], axis=1)
# df1.index.values == df2.index.values
combo

            bitcoin Weekly
date
2012-04-08      100      3
2012-04-09       69
2012-04-10       75
2012-04-11       92
2012-04-12       87
2012-04-13       84
2012-04-14       82
2012-04-15       66      2
2012-04-16       60
2012-04-17       75
2012-04-18      100
2012-04-19       78
2012-04-20       62
2012-04-21       67

In [147]:
adjFactor = []
for x in xrange(len(combo)):
    if combo.iloc[x]["Weekly"] != '':
        current = float(combo.iloc[x]["Weekly"])/combo["bitcoin"][x]
        
    adjFactor.append(current)
adjFactorCol = pd.DataFrame({"AdjFactor":adjFactor}, index=index)
adjFactorCol
step3 = pd.concat([combo, adjFactorCol], axis=1)
step3
# combo.iloc[0]["Weekly"]

            bitcoin Weekly  AdjFactor
date
2012-04-08      100      3   0.030000
2012-04-09       69          0.030000
2012-04-10       75          0.030000
2012-04-11       92          0.030000
2012-04-12       87          0.030000
2012-04-13       84          0.030000
2012-04-14       82          0.030000
2012-04-15       66      2   0.030303
2012-04-16       60          0.030303
2012-04-17       75          0.030303
2012-04-18      100          0.030303
2012-04-19       78          0.030303
2012-04-20       62          0.030303
2012-04-21       67          0.030303

In [149]:
adjVal = []
for x in xrange(len(step3)):
    adjVal.append(step3["bitcoin"][x]*step3["AdjFactor"][x])

adjValCol = pd.DataFrame({"AdjValue":adjVal}, index=index)
# adjValCo
step4 = pd.concat([step3, adjValCol], axis=1)
step4
# combo.iloc[0]["Weekly"]

            bitcoin Weekly  AdjFactor  AdjValue
date
2012-04-08      100      3   0.030000  3.000000
2012-04-09       69          0.030000  2.070000
2012-04-10       75          0.030000  2.250000
2012-04-11       92          0.030000  2.760000
2012-04-12       87          0.030000  2.610000
2012-04-13       84          0.030000  2.520000
2012-04-14       82          0.030000  2.460000
2012-04-15       66      2   0.030303  2.000000
2012-04-16       60          0.030303  1.818182
2012-04-17       75          0.030303  2.272727
2012-04-18      100          0.030303  3.030303
2012-04-19       78          0.030303  2.363636
2012-04-20       62          0.030303  1.878788
2012-04-21       67          0.030303  2.030303